:root {
    --color-cards:#EEEEEE;
    --logo-color: #000000;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --white-text-color-header:#FFFFFF;
    --accent-color: #2196F3;
    --main-background: #F5F5F5;
    --secondary-background: #F5F4FA;
    --header-footer: #2F303A;
    --button-background:#F5F4FA;
    --indent:30px;
    --items:3;
    --border: #ECECEC;
}
/* Зброс стилей */
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .link {
    text-decoration: none;
  }
/* цвета */
/* Логотип: #000000; */
/* основной цвет текста: #212121; */
/* вторичный цвет текста: #757575; */
/* белый цвет текста и header: #FFFFFF; */
/* accent: #2196F3; */
/* основной фон: #F5F5F5; */
/* вторичный фон: #F5F4FA; */
/* header-footer: #2F303A; */
/* фон кнопки #F5F4FA; */
body {
    color:var(--primary-text-color);
    background-color:var(--white-text-color-header);
    font-family:'Roboto',sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
  h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
.section {
        padding-top: 94px;
        padding-bottom: 94px;
    }

.section-about {
        padding-bottom: 0;
    }
button {
    font-family: inherit;
    
}
.list {
    list-style:none;
    padding: 0%;
    
}
.link {
    text-decoration: none;
}

.header {
    background:var(--white-text-color-header);
    border-bottom: 1px solid var(--border);
}

.header-container {
    display: flex;
    align-items:center;
}
.logo:link {
    margin-right:93px;
}
.logo {
    font-family:'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height:1.19;
    letter-spacing: 0.03em;
    color:var(--accent-color);
    
    }
    
.logo-header {
        color:var(--logo-color);
}
.nav-list {
    gap: 50px;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}
.contacts {
    margin-left: auto;
}

.nav-cont {


}
.ul {
    display: flex;
    gap: 30px;
}
.li{
    flex-basis: calc((100% - 30px) / 4);
}
.header-nav {
    display: flex;
    justify-content: space-between;
}
.nav-item {  
}
.nav-link {
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    font-weight: 500;
    color:var(--primary-text-color);
    font-size: 14px;
    line-height:1.14;
    letter-spacing: 0.02em; 
}
.mail {
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height:1.14;
    letter-spacing: 0.02em; 
    color: var(--accent-color);
}
/* смена цвета */

.current {
    color:var(--accent-color);
}
.header-tel:hover,.header-tel:focus {
color: var(--accent-color);
}
.nav-link:hover, .nav-link:focus {
    color:var(--accent-color);
}

.header-tel {
    font-weight: 500;
    font-size: 14;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    color:var(--secondary-text-color);
}
/* button */
.portfolio {
    gap: var(--indent);
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    margin: auto;
    justify-content: space-between;
} 
.portfolio-text {
    background:var(--white-text-color-header);
    margin-top:auto;
    width: 370px;
}
.cardname {
border-left: 1px solid #EEEEEE;
border-bottom: 1px solid #EEEEEE;
border-right: 1px solid #EEEEEE;
padding-left: 24px;
padding-top: 20px;
padding-right: 24px;
padding-bottom: 20px;

}
.button {
    padding: 6px 25px;
    text-align: center;                                 
    color:var(--primary-text-color);
    background:var(--button-background);
    font-weight: 500;
    font-size: 16px;
    border-radius: 4px;
    border: var(--secondary-background);   
    line-height: 26px;
    letter-spacing: 0.03em;
    margin-right:8px;
}
.buttons {
    padding: 6px 22px;
    text-align: center;                                 
    color:var(--primary-text-color);
    background:var(--button-background);
    font-weight: 500;
    font-size: 16px;
    border-radius: 4px;
    border: var(--secondary-background);
    line-height: 26px;
    letter-spacing: 0.03em;
    margin-right:8px;   
} 
.buttonss {
    padding: 6px 22px;
    text-align: center;                                 
    color:var(--primary-text-color);
    background:var(--button-background);
    font-weight: 500;
    font-size: 16px;
    border-radius: 4px;
    border: var(--secondary-background);
    line-height: 26px;
    letter-spacing: 0.03em;
    margin-right:0px;   
} 
.container-button {
background: var(--main-background);
text-align: center;
background-color:var(--white-text-color-header);


}
.element-nav {
    margin-bottom: 50px;
justify-content: center;
display: flex;
}
.prise-btn {
    display: block;
    margin: auto;
}

 .buttons:hover,.buttons:focus{
    color:var(--white-text-color-header);
    background-color:var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
 }  
.button:hover,.button:focus {
    color:var(--white-text-color-header);
    background-color:var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}  

.hero-button {                                
    color:var(--white-text-color-header);
    background:var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    width: 216px;
    height: 50px;
    letter-spacing: 0.06em;
    border: none;
} 
.hero-background {
    width: 1200;
    background-color:var(--header-footer);
    color:var(--white-text-color-header);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    width: 696px;
    font-size: 44px;
    font-weight:900;
    line-height:1.36;
    /* border: 2px solid var(--border); */
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    margin-bottom: 30px;
 }

ul {
    list-style: none;
}
.cards-container {   
    background: var(--main-background);
    text-align: center;
}
.site-nav, .link:hover
.site-nav, .link:focus {
    color:var(--logo-color);
}

.section-text {
    text-align:left;
    font-weight: 700;
    font-size: 14px;
    line-height:1.14;
    letter-spacing: 0.03em;
    color:var(--primary-text-color);
    margin-bottom: 10px;
}
.section-team {
    text-align:left;
    font-weight: 500;
    font-size: 16px;
    line-height:1.14;
    letter-spacing: 0.03em;
    color:var(--primary-text-color);
    text-align: center;
    margin-bottom: 10px;
}

.secondary-text {
    text-align:left;
    font-weight: 400;
    font-size: 14px;
    line-height:1.71;
    letter-spacing: 0.03em;
    color:var(--secondary-text-color);
}
.secondary-team {
    font-weight: 400;
    font-size: 16px;
    line-height:1.71;
    letter-spacing: 0.03em;
    color:var(--secondary-text-color);
    text-align: center;
    margin-top: 10px;
}
.section-lower {
    background-color:var(--secondary-background);
    padding-top: 94px;
    padding-bottom: 64px;
}
.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.about-list {
    display: block;
    display: flex; 
    gap: 30px; 
    padding: 0; 
    margin: 0;
}
.section-container {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height:1.14;
    letter-spacing: 0.03em;
    color:var(--primary-text-color);
    margin-bottom: 50px;
}

.section-title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height:1.14;
    letter-spacing: 0.03em;
    color:var(--primary-text-color);
    
}
.about-team {
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    margin-top: 50px;
}
.text {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--white-text-color-header);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
 }
.about-container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto; 
}
.secondary-cards {
    font-weight: 400;
    font-size: 16px;
    line-height:1.71;
    letter-spacing: 0.03em;
    color:var(--secondary-text-color);
    text-align: left;
}
.section-cards {
    text-align:left;
    font-weight: 700;
    font-size: 18px;
    line-height:1.14;
    letter-spacing: 0.03em;
    color:var(--primary-text-color); 
    margin-bottom: 10px; 
}
.footer {
     background-color:var(--header-footer);
     padding-top: 60px;
     padding-bottom: 60px;
     font-weight: 400px;
     font-size: 14px;
     line-height: 24px;
     letter-spacing: 0.03em;
    }
.address {
    font-style: normal;
    margin-top: 20px
}
.footer-location {
    color: var(--white-text-color-header);
margin-bottom: 9px;
}
.logo-footer {
    color:var(--white-text-color-header);
    font-family: 'Raleway';  
}
.footer-contact {
    color:var(--secondary-text-color);
 margin-bottom: 9px;
}
.item {
    flex-basis: calc((100% - 30px) / 4);
    gap: 30px;

}